name: Test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - name: Lint and Audit
        run: |
          npm ci
          npm run lint
          npm audit --production
      - name: Integration test
        run: |
          pushd docker
          docker-compose up -d
          popd
          SECONDS=0
          until curl http://localhost:22973/infos/node
          do
            if (( SECONDS > 60 ))
            then
               echo "Alephium full node not working after 5 mins..."
               exit 1
            fi
            echo "Waiting..."
            sleep 5
          done
          echo "Alephium full node is up"
          npm run test
